/* Reseteamos el estilo de la pagina */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none
}*/



.content{
  display: inline-flex;
  padding: 80px;
  background-color: gray;
  position: relative;
  width: 100%;
    height: 40%;





}



input[type="range"] {
  
   display: inline-flex;
   transform: rotate(270deg);
}




.ch1{

  
    position: relative;
    left: 5%;
    box-sizing: border-box;
    width: 100px;
    height: 300px;
    text-decoration: none;
    text-align: right;
    
    display: flex;
    justify-content: center;
    align-content: right;
    flex-direction: column;


    /* float: right; */
    padding: 3px;
    font-size: 150%;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 40px;
    border: 4px solid #0016b0;
    background-size: auto 110%;
    background-position: center;

}

.ch2{
    position: relative;
    left: 20%;
    box-sizing: border-box;
    width: 100px;
    height: 300px;
    text-decoration: none;
    text-align: right;
    
    display: flex;
    justify-content: center;
    align-content: right;
    flex-direction: column;


    /* float: right; */
    padding: 3px;
    font-size: 150%;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 40px;
    border: 4px solid #0016b0;
    background-size: auto 110%;
    background-position: center;



}
.ch3{
  
    position: relative;
    left: 40%;
    box-sizing: border-box;
    width: 100px;
    height: 300px;
    text-decoration: none;
    text-align: right;
    
    display: flex;
    justify-content: center;
    align-content: right;
    flex-direction: column;


    /* float: right; */
    padding: 3px;
    font-size: 150%;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 40px;
    border: 4px solid #0016b0;
    background-size: auto 110%;
    background-position: center;

}
.ch4{
    position: relative;
    left: 60%;
    box-sizing: border-box;
    width: 100px;
    height: 300px;
    text-decoration: none;
    text-align: right;
    
    display: flex;
    justify-content: center;
    align-content: right;
    flex-direction: column;


    /* float: right; */
    padding: 3px;
    font-size: 150%;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 40px;
    border: 4px solid #0016b0;
    background-size: auto 110%;
    background-position: center;

   

}



/*
input.wpcf7-form-control.wpcf7-submit {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}


input[type="range"]
{
    -webkit-appearance: none !important;
    -moz-appearance:    none !important;
    appearance:         none !important;
        
    width: 100%;
    margin: 0px;
    padding: 8px 0px;
    outline: none;
    background-color: transparent;
    
}

input[type="range"]:focus
{
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track
{
    width: 100%;
    height: 4px;
    background: #CCC;
    border-radius: 7px;
    cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-runnable-track
{
    background:#00AD7A;
}

input[type="range"]::-webkit-slider-thumb
{
    height: 18px;
    width: 18px;
    margin-top: -7px;
    border:1px solid #00AD7A;
    background: #00AD7A;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb
{
    height: 18px;
    width: 18px;
    border:1px solid #00AD7A;
    background: #00AD7A;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-track
{
    width: 100%;
    height: 4px;
    background: #CCC;
    border-radius: 7px;
    cursor: pointer;
}

input[type="range"]:focus::-moz-range-track
{
    background:#00AD7A;
}

input[type="range"]::-ms-thumb
{
    height: 18px;
    width: 18px;
    border:1px solid #00AD7A;
    background: #00AD7A;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-ms-track
{
    width: 100%;
    height: 4px;
    color: transparent;
    border-width: 16px 0;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-ms-fill-lower
{
    background: #CCC;
    border-radius: 3px;
}

input[type="range"]::-ms-fill-upper
{
    background: #CCC;
    border-radius: 3px;
}

input[type="range"]:focus::-ms-fill-lower
{
    background: #00AD7A;
}

input[type="range"]:focus::-ms-fill-upper
{
    background: #00AD7A;
}

body
{
  padding:40px;
}
*/